body {
  background: #F5F5F5;
  color: #444;

  h1 {
    background: url('../images/logo.png') 0 -20px no-repeat;
    padding-left: 140px;
    padding-top: 1em;
    min-height: 100px;
  }
}

ul#articles {
  li {
    line-height: 1.5em;

    a {
      font-size: 0.8em;
      color: orange;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
